/* finallocate CSS */

#wizardresponsetable  {
    font-size: 12px;
    color:navy;
}

#allocationclonetable  {
    font-size: 12px;
    color:navy;
}

#allocation  {
    font-size: 12px;
    color:navy;
}


.metoocheckbox {
    width: 20px;
    height: 20px;
	color: navy;    
	background-color: white;
}

.ui-menu {
    width: 250px;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100 !important;
}

.ui-menu-item-wrapper {
	color: navy;    
	background-color: white;
}

.ui-menu-item-wrapper:hover{
	background-color:  #f2f2f2;
}

.ui-state-active {
	color: red;
}
