
// .speech {border: 4px solid #DDD; width: 600px; padding: 0; margin: 0; }
// .speech input {border: 0; width: 500px; display: inline-block; height: 300px;}
// .speech img {float: right; width: 40px }